@import "config";
@import "utilities";
@import "item_grid";

// General Syles

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 70px;
  height: 70px;
  color: #333;
  text-transform: uppercase;
}
// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;

  ul {
    display: flex;
  }
  li {
    padding: 1.5rem;
  }
  .white {
    color: #fff;
  }
  a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  // header home
  &-home {
    background: $bg-img no-repeat center right/cover;
    height: 100vh;
    color: #fff;

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 25%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  // Header Inner
  &-inner {
    background: $bg-img no-repeat 90% 60% / cover;
    height: 6rem;
    border-bottom: 3px solid $main-color;
  }
}

// Home inner

// Home Sections
#home {
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      .fas {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }
  // Home Section B
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem;

        &:nth-child(odd) {
          background: $light-color;
        }
        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }
  // Home Section C
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $main-color;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s;
      }

      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;

        &:hover {
          background: $main-color;
          width: 90px;
          height: 90px;
          line-height: 90px;

          .process-step {
            background: $dark-color;
          }
        }
      }
    }
  }
}

// About Sections
#about {
  &-a {
    height: auto;
    .about-info {
      display: grid;
    }
  }
  // About B
  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;

      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background: $main-color;
      }
    }
  }
  // about C
  &-c {
    .about-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;

      img {
        width: 70%;
      }
    }
  }
  // About D
  &-d {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.5rem;

      ul {
        list-style: none;
        margin-top: 1rem;
        display: flex;
        align-items: center;
      }

      p {
        border: 1px solid $medium-color;
        border-radius: 5px;
        padding: 0.5rem;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }
  }
}

// Contact Page
#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        "name email"
        "subject phone"
        "message message";
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 100px;
      }

      .text-input {
        padding: 0.5rem 1rem;
      }
    }

    button[type="submit"] {
      width: 25%;
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  }

  &-c {
    h1 {
      text-align: center;
      font-size: 4em;
    }
  }
}

#section {
  .about-a {
    height: 100vh;
    margin-bottom: 20px;
  }
}

.resume-img {
  height: auto;
  overflow: hidden;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

// Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
      }
    }
  }
  p {
    text-align: center;
  }
}

// Import Media
@import "media";
